.container.login {
    margin-top: 100px;

    form {
        margin: auto;
        width: 50vw;
        height: 60vh;
        background: gray;
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            margin: 50px 0;
        }

        .input-field {
            width: 70%;
        }

        button {
            width: 100%;
            margin-top: 20%;
        }

        button:hover {
            font-weight: bold;
        }
    }
}

.container.signup {
    margin-top: 50px;

    form {
        margin: auto;
        width: 50vw;
        background: gray;
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            margin: 50px 0;
        }

        .input-field {
            width: 70%;
        }

        button {
            width: 100%;
            margin: 10% 0;
        }

        button:hover {
            font-weight: bold;
        }
    }
}