$color-dark-gray: rgb(39, 39, 39);
$color-deep-gray: rgb(58, 58, 58);
$color-gray: rgb(90, 90, 90);
$color-light-gray: rgb(212, 212, 212);
$color-purple: rgb(147, 71, 247);
$color-orange: rgb(243, 157, 86);

$gray-0: rgb(9, 10, 14);
$gray-1: rgb(37, 38, 42);
$gray-2: rgb(150, 151, 156);
$gray-3: rgb(180, 181, 185);